// Brand Colors //
$black:             #000000;
$darkpurple:        #271833;
$purple:            #372348;
$lightpurple:       #503169;
$darkblue:          #1C0D4F;
$blue:              #4A24CF;
$lukeblue:          #8ABFFF;
$reallylightblue:   #DBDFFF;
$mikeOrange:        #FF5039;
$samiiGreen:        #38FF9E;
$green:             #2AB67B;
$yellow:            #FFF799;
$grey:              #707070;
$lightgrey:         #DBDBDB;
$darkwhite:         #F7FBFF;
$white:             #FFFFFF;


// Fonts //
$opensans: "Open Sans", sans-serif;
$publico: 'Publico Headline Web', sans-serif;
$suomi: 'SuomiHand-Script', sans-serif;